@import '../build/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// sass --watch scss/style.scss css/style.css
// style-dictionary build

body {
  background-color: $global-baby-blue;
  margin: 0px;
}



.left-content {
  margin: $global-sp-50;
  width: $global-sz-400;
  // background-color: $login-content-background-color;
  // border-radius: $login-content-border-radius;
  // box-shadow: $login-content-shadow-x $login-content-shadow-y $login-content-shadow-blur $login-content-shadow-spread $login-content-shadow-color;
}



.logo {
  margin-bottom: $global-sp-50;
  min-height: $global-sz-50;
  background-repeat: no-repeat;
  // background-image: $logo-image;
}

.bg-image {
  // background-image: $background-image;
  height: 100vh;
}


h1 {
  color: $global-steel-blue;
  font-family: $global-primary-font;
  font-weight: $global-font-weight-bold;
  font-size: $global-font-size-h1;
  line-height: $global-line-height-h1;
  padding-bottom: $global-sp-20;
}


.body-text {
  color: $global-steel-blue;
  font-family: $global-primary-font;
  font-weight: $global-font-weight-regular;
  font-size: $global-font-size-h5;
  line-height: $global-line-height-h6;
  padding-bottom: $global-sp-20;
}


// form {
//   margin-top: $input-group-margin-top;
// }


// .form-group {
//   // margin-bottom: 0px;
// }


#email {
  border-radius: 0px;
  width: $global-sz-400;
  height: $global-sz-50;
  padding-top: $global-sp-15;
  padding-bottom: $global-sp-15;
  padding-left: $global-sp-20;
  padding-right: $global-sp-20;
  border-color: $global-steel-blue;
  border-top-left-radius: $global-border-radius-sm;
  border-top-right-radius: $global-border-radius-sm;
  border-width: $global-border-width-sm;
  background-color: $global-white;

  &::placeholder {
    color: $global-steel-blue;
    font-family: $global-primary-font;
    font-weight: $global-font-weight-regular;
    font-size: $global-font-size-h6;
    line-height: $global-line-height-h6;
  }
}



#password {
  border-radius: 0px;
  width: $global-sz-400;
  height: $global-sz-50;
  padding-top: $global-sp-15;
  padding-bottom: $global-sp-15;
  padding-left: $global-sp-20;
  padding-right: $global-sp-20;
  border-color: $global-steel-blue;
  border-bottom-left-radius: $global-border-radius-sm;
  border-bottom-right-radius: $global-border-radius-sm;
  border-left-width: $global-border-width-sm;
  border-right-width: $global-border-width-sm;
  border-bottom-width: $global-border-width-sm;
  border-top-width: 0px;
  background-color: $global-white;

  &::placeholder {
    color: $global-steel-blue;
    font-family: $global-primary-font;
    font-weight: $global-font-weight-regular;
    font-size: $global-font-size-h6;
    line-height: $global-line-height-h6;
  }
  // margin-top: -1px;
}


.btn-primary {
  margin-top: $global-sp-20;
  margin-bottom: $global-sp-20;
  background-color: $global-royal-blue;
  border-radius: $global-border-radius-md;
  border: none;
  padding-top: $global-sp-15;
  padding-bottom: $global-sp-15;
  padding-left: $global-sp-20;
  padding-right: $global-sp-20;
  color: $global-white;
  font-family: $global-primary-font;
  font-weight: $global-font-weight-bold;
  font-size: $global-font-size-h5;
  line-height: $global-line-height-h5;
}


.text-link {
  font-weight: $global-font-weight-bold;
  color: $global-royal-blue;
}

p.body-text {
  padding-bottom: 5px;
}
